@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
<<<<<<< HEAD
*{margin :0;
padding:0}
=======
*{
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;

}
>>>>>>> 43cc0da28232116712cfb23ec831642462bc7834
body{
  overflow-x: hidden;
  background-color: #fefdff;
}
.content{
  width: 90%;
  /* border: blue solid 1px; */
  margin: auto;
}
.flex{
  display: flex;
}
.title{
  font-size: 20px;
  margin-bottom:15px;
}
.title span{
  font-weight: 300;
}
.blue{
  color:#3E5481
}
p{
  font-family: 'Ubuntu'
}

.btn_primary{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: 'Ubuntu';
  font-weight: 600; 
  background-color: gold;
  border:  none;
  padding: 8px 16px;
  border-radius: 10px;
  color: #6b8e23;
  cursor: pointer;
  transition-duration: 0.3s;


}
.btn_primary:hover {
  background-color: #6b8e23;
  border: 1px solid #6b8e23;
  scale: 1.1;
  color: White;
}

.aut__hbtn{
  justify-content: center;
  width: 80%;
  padding: 16px 16px;
  margin-top: 15px;
}
.aut__hbtn:hover{
  border: solid 1px #6b8e23;
  background-color: transparent;
  color: #6b8e23 ;
  scale: 1
  }

