@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{margin :0;
padding:0}
*{
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;

}
body{
  overflow-x: hidden;
  background-color: #fefdff;
}
.content{
  width: 90%;
  /* border: blue solid 1px; */
  margin: auto;
}
.flex{
  display: flex;
}
.title{
  font-size: 20px;
  margin-bottom:15px;
}
.title span{
  font-weight: 300;
}
.blue{
  color:#3E5481
}
.green{
  color:#6b8e23;
}
p{
  font-family: 'Ubuntu'
}

.btn_primary{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: 'Ubuntu';
  font-weight: 600; 
  background-color: gold;
  border:  none;
  padding: 8px 16px;
  border-radius: 10px;
  color: #6b8e23;
  cursor: pointer;
  transition-duration: 0.3s;


}
.btn_primary:hover {
  background-color: #6b8e23;
  border: 1px solid #6b8e23;
  scale: 1.1;
  color: White;
}

.aut__hbtn{
  justify-content: center;
  width: 80%;
  padding: 16px 16px;
  margin-top: 15px;
}
.aut__hbtn:hover{
  border: solid 1px #6b8e23;
  background-color: transparent;
  color: #6b8e23 ;
  scale: 1
  }




  /* category btn  */
.category {
  display: flex;
  flex-direction: row;
  padding: 7px 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
  
  .category:hover {
    background-color: #6B8E23;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    color: white;
  }
  .category_active{background-color: #6B8E23;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    color: white;
    transform: translateY(1px);}
  .category:active {
    background-color: #6B8E23;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
    
  }
  
  .category div {
    font-size: 15px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .categories {
      justify-content: center;
      gap: 10px;
    }
  
  }
  
  @media (max-width: 480px) {
    .categories {
      flex-direction: column; /* Stack categories vertically on small screens */
      align-items: center;
    }
  }