.carousel{
    overflow: hidden;
    cursor: grab;
 
}
.innercarousel{
    display: flex ;
}
.item{
    padding-right: 20px;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    pointer-events: none;
}
hr {
    border: none;        
    height: 1px;         
    background-color: #5a88a8;  
    width: 90%;         
    margin: 20px auto;   
  }
  
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 10px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6B8E23;
    color: #6B8E23;
    font-size: 10px;
    margin-right: 10px;
    
  }
  
  h4 {
    font-size: 15px;
    color: #2C3E50;
    margin: 0;
    font-weight: 500;
  }
  .title{
    margin-bottom: 8px;
  }
  span{
    color: rgb(131, 144, 164);
    display: inline-block;
    width:90%;
    height: auto;
    margin-bottom: 10px;
  }
  .author_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .ingredients_section {
    margin-bottom: 10px;
  }
  .author_name{
    font-size: 17px;
    font-weight: 500;
  }
  .auth_like{
    display: flex;
    justify-content: space-between;
  }
  .like_section{
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }
  .like_section h2{
    display: flex;
    font-size: 20px;
  }
  .hearth{
    color:rgba(255, 255, 255, 0.388);
    width: 16px;
    height: 16px;
  }
  .cercle_like{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6B8E23;
    color: #6B8E23;
    font-size: 10px;
    margin-right: 6px;
  }
  .cercle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6B8E23;
    color: #6B8E23;
    font-size: 10px;
    margin-right: 10px;
  }
   .check{
    color: gold;
   }
 
  .card_author {
    font-size: 14px;
  color: #6B7280;
  display: flex;
  align-items: center;

  }
  .author_name{
    margin-left: 12px;
    font-weight: 500;
    
  }
  .Type{
    margin-top: -100px;
  }   
  .description  p{
padding: 8px 9px;
margin-bottom: 10px;
line-height: 1.5;
color: #9FA5C0;
  }

.steps_container {
  max-width: 400px;
  margin: 0 auto;
}

.steps_title {
  font-size: 18px;
  font-weight: bold;
  color: #24324f;
  margin-bottom: 15px;
}

.step_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 8px;
}

.step_number {
  width: 20px;
  height: 20px;
  background-color: #24324f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.step_description {
  font-size: 15px;
  color: #24324f;
  line-height: 1.5;
  font-weight: 500;
}


.step_image {
  width: 65%;
  border-radius: 10px;
  object-fit: cover;
 
}
.img{
  display: flex;
  justify-content: center;
}
.step_index{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding: 5px;
  gap:10px
}