.carousel{
    overflow: hidden;
    cursor: grab;
 
}
.innercarousel{
    display: flex ;
}
.item{
    min-height: 5rem;
    min-width: 5rem;
    padding: 20px;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    pointer-events: none;
}
hr {
    border: none;        
    height: 1px;         
    background-color: #5a88a8;  
    width: 90%;         
    margin: 20px auto;   
  }
  h2{
    color: #3E5481;
    padding-left: 10px;
  }
  .container {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 10px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #78A942;
    color: #78A942;
    font-size: 10px;
    margin-right: 10px;
    
  }
  
  h4 {
    font-size: 16px;
    color: #2C3E50;
    margin: 0;
  }
  span{
    color: rgb(131, 144, 164);
    line-height: 1.6; 
    margin-left: 15px; 
    display: inline-block;
    width:90%; /* Set the desired width */
    height: auto;
  }
  .author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
   
 
  .card-author {
    font-size: 14px;
  color: #6B7280;
  display: flex;
  align-items: center;
  gap: -15px;
  margin-left: 10px;
  }
  .author-name{
    margin-left: 2px;
    
  }
  .Type{
    margin-top: -100px;
  }   
  