/* styles.css */

  
  .header {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .header-top {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
 
.logo{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px;

}
  
  .text p {
    margin: 0;
    font-size: 14px;
    color: #BEC5C5;
  }
  
  .notification {
   
  padding: 10px;

  }
  
  .bell-icon {
    font-size: 24px;
    color:#ffc107;
  
  }
  
  .notification-dot {
    width: 10px;
    height: 10px;
    background-color: #E74C3C;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .search-bar {
    margin-left: -2px ;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
   
  }
  
  .search-bar input {
      width: 80%; /* Full width */
      padding: 12px 20px; /* Vertical and horizontal padding */
      margin:10px 0; /* Vertical margin */
      border: 1px solid #ccc; /* Light gray border */
      border-radius: 8px; /* Rounded corners */
      font-size: 16px; /* Font size */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
  }
  
  input:focus {
      border-color: #4CAF50; /* Green border on focus */
      outline: none; /* Remove outline */
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Green shadow on focus */
  }
  
  
  .search-bar input::placeholder {
    color: #BEC5C5;
  }
  
  .categories {
    display: flex;
    justify-content: space-around;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    padding: 10px;
    border-radius: 10px ;
    border: #BEC5C5 1px solid;
    text-align: center;
    color: white; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  .category:hover {
    background-color: #45a049; /* Slightly darker green */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
    transform: translateY(-3px); /* Slight lift effect */
  }
  
  /* Active/Pressed Effect */
  .category:active {
    background-color: #3e8e41; /* Even darker green */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Less intense shadow */
    transform: translateY(1px); /* Slight downward push */
  }

  
  .category p {
    margin: 5px 0 0;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  