.nav_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: red;
  
    /* Masque avec demi-cercle et coins arrondis */
    mask:calc(var(--s) + var(--r)) 0 var(--_m),
    0 calc(var(--s) + var(--r)) var(--_m),
    radial-gradient(circle at top, transparent 22%, black 0%) top;
   -webkit-mask: 
   calc(var(--s) + var(--r)) 0 var(--_m),
    0 calc(var(--s) + var(--r)) var(--_m),
    radial-gradient(circle at top, transparent 22%, black 0%) top;


    /* Box shadow */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre douce */
  }
  
  
  .cercle {
    height: 70px;
    width: 70px;
    background-color: gold;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 35px); /* Centrer horizontalement */
    border-radius: 50%;
  }
  